
@import "tailwindcss";

:root {
  /* Colores */
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --secondary: #4f46e5;

  --background: #f3f6ff;
  --surface: #ffffff;

  --text-primary: #111827;
  --text-secondary: #6b7280;
  --text-label: #374151;

  --border: #dbe1ea;

  /* Estados */
  --error-background: #fef2f2;
  --error-border: #fecaca;
  --error-text: #b91c1c;

  /* Sombras */
  --shadow-card: 0 25px 60px rgba(30, 64, 175, 0.15);
  --shadow-button: 0 10px 25px rgba(37, 99, 235, 0.25);

  /* Bordes */
  --radius-card: 24px;
  --radius-input: 12px;
  --radius-button: 12px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: var(--background);
  color: var(--text-primary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

